@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    margin:0;
}
#bloc_page{
    max-width: 1500px;
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
}
header img{
    padding-top: 50px;
}
header ul{
    list-style-type: none;
    display: flex;
}
header ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 200px;
    padding-top: 50px;
    text-align: center;
}
.bouton-hebergement:hover{
    color: #0065FC;
    border-top: #0065FC solid 3px;
}
.bouton-activites:hover{
    color: #0065FC;
    border-top: #0065FC solid 3px;
}
.bouton-inscrire{   
    color: #0065FC;
    font-weight: bolder;
}
 /*HEADER*/

.section1{
    margin-top: 30px;
}
#rechercher{
    margin-top: 15px;
    display: flex;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-radius: 10px;
    width: 500px;
}
.icone-rechercher{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #F2F2F2;
    height: 50px;
    width: 50px;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.barre-rechercher{
    border: none;
    height: 50px;
    width: 250px;
    font-size: 1.2em;
    color: black;
    padding-left: 20px;
}
.bouton-rechercher{
    color:#F2F2F2;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    background-color: #0065FC;
    height: 50px;
    width: 140px;
    border-style: solid;
    border-width: 2px;
    border-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}
/*BARRE DE RECHERCHE*/


#filtres{
    margin-top: 35px;
    display: flex;
    align-items: center;
}
.conteneur-filtres{
    display: flex;
    position: relative;
    padding-left: 25px;
}
.texte-filtres{
    margin-right: px;
    font-weight: bold;
}
.bouton-filtres{
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 55px;
    padding-right: 15px;
    height: 45px;
    min-width: 100px;
    display: inline;
    text-align: center;
    border: none;
    background-color: white;
    border: solid lightgray 1px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
}
.bouton-filtres:hover{
    background-color: #0065FC;
    color: white;
}
.div-filtres{
    position: absolute;
    background-color: #d7e7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    cursor: pointer;
    border: solid white 1px;
    border-radius: 50%;
}
.div-filtres i{
    color: #0065FC;
}


/* FILTRES */

.simple-flex{
    margin-top: 35px;
    display: flex;
    margin-bottom: 25px;
}
.simple-flex-icone{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border: solid lightgray 1px;
    border-radius: 50%;
}
.simple-flex-icone i{ 
    color: rgb(111, 111, 255);
}
.simple-flex p{
    padding-top: 5px;
    margin-left: 15px;
}

/* Petite icone */

.conteneur-ultime1{
    display: flex;
    justify-content: space-between;
}

#hebergement-conteneur-display-flex{
    border: solid 1px rgb(233, 233, 233);
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    max-width: 950px;
    max-height: 600px;
}
.conteneur-boite-hebergement{
    border: red solid 2px;
    margin: auto;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.taille-image-hebergement-marseille{
    height: 50px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.boite-hebergement{
    border: solid 2px black;
    border-radius: 10px;
    margin-top: 15px;
    width: 250px;
    height: 180px;
}

/* HEBERGEMENT SECTION */

.taille-image-aside{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10px;
}
.boite-hebergement-aside{
    border: solid black 2px;
    width: 250px;
    height: 180px;
}
.conteneur-aside{
}
.aside{
    width: 500px;
    height: 600px;
    border: solid rgb(233, 233, 233) 1px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
}


/* HEBERGEMENT ASIDE */