@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    overflow-x: hidden;
}
body{
    margin: 0;
    overflow-x: hidden;
}
a{text-decoration: none;}
/* HEADER   */  /* ↧ */
.headerMain{
    max-width: 1440px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    /* BLOCk PAGE */

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.headerMain__image{
    width: 120px;
    height: 60px;
    margin-top: 40px;
}
.headerMain__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.headerMain__nav__div{
    padding-left: 100px;
    width: 400px;
    display: flex;
    justify-content: flex-end;
}
.headerMain__nav__anchor{
    width: 180px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
.headerMain__nav__anchor--hebergement:hover{
    padding-top: 47px;
    color: #0065FC;
    border-top: solid #0065FC 3px;
}
.headerMain__nav__anchor--activites:hover{
    padding-top: 47px;
    color: #0065FC;
    border-top: solid #0065FC 3px;
}
.headerMain__nav__anchor--inscription{
    font-weight: bold;
    color: #0065FC;
}
/*  HEADER   */


/* TEXTE HEADER  */
.pageOne{
    max-width: 1440px;
    margin: auto;
    /* BLOCk PAGE */
}
.pageOne__h1{
    font-size: 1.5rem;
    margin-top: 25px;
}
.pageOne__p{
    margin-top: 10px;
}
/* TEXTE HEADER */


/* INPUT SEARCH */
.pageOne__div{
    display: flex;
    width: 34%;
    min-width: 260px;
    height: 50px;
    margin-top: 20px;
    border: #F2F2F2 solid 2px;
    border-radius: 20px;
}
.pageOne__div__div{
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 55px;
    height: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.pageOne__div__div--icone{
    color: #000000;
}
.pageOne__div__input{
    border: none;
    width: 54%;
    min-width: 170px;
    height: 50px;
    padding-left: 15px;
    color: black;
    font-size: 1.1rem;
    font-weight: bold;
}
.pageOne__div--button{
    width: 36%;
    min-width: 55px;
    height: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: #0065FC solid 3px;
    font-size: 1.15rem;
    font-weight: 800;
    color: white;
    background-color: #0065FC;
    cursor: pointer;
}
.pageOne__div--button--icone{
    display: none;
}
/* ( ╯°□°)╯ ┻━━┻ INPUT SEARCH */


/*  FILTRES */
.pageOne__div__filtres{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}
.pageOne__div__filtres--icone{
    display: flex;
    flex-wrap: wrap;
}
.PageOne__div__filtres__p{
    font-size: 1.1rem;
    font-weight: bold;
}
.pageOne__div__filtres__div{
    position: relative;
    margin-left: 25px;
    display: flex;
}
.PageOne__div__filtres__div__span{
    position: absolute;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.PageOne__div__filtres__div__i{
    color: #0065FC;
    font-size: 20px;
}
.PageOne__div__filtres__div__button{
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #ffffff;
    border: solid 2px lightgray;
    height: 50px;
    padding-right: 17px;
    padding-left: 65px;
    border-radius: 25px;
    cursor: pointer;
}
.PageOne__div__filtres__div__button:hover{
    background-color: #0065FC;
    color: #ffffff;
}
/*  FILTRES */


/*  PETIT TEXTE FILTRES */
.pageOne__div__logement{
    margin-top: 35px;
    display: flex;
    align-items: center;
}
.pageOne__div__logement--div{
    border: solid 1px lightgray;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: #0065FC;
    display: flex;
    padding-right: 3px;
    padding-bottom: 2px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

/*  PETIT TEXTE FILTRES */


/* 	 CONTENEUR DE "HEBERGEMENT MARSEILLE" ET DE "LES PLUS POPULAIRES" */
.pageOne__section__conteneur{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 900px){
    .pageOne__section__conteneur{
        display: flex;
        flex-direction: column-reverse;
    }
    .pageOne__section__conteneur__hebergement{
        background-color: white;
    }
}
/*  HEBERGEMENT */
.pageOne__section__conteneur__hebergement{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 35px;
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 65%;
    min-width: 370px;
}
.pageOne__section__conteneur__hebergement__h3{
    font-size: 1.2rem;
    padding-left: 50px;
    padding-top: 40px;
}
.pageOne__section__conteneur__hebergement__div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hebergement__div__figure{
    background-color: #ffffff;
    box-shadow: 0 5px 20px rgba(0,0,0,0.20);
    border-radius: 15px;
    margin: 20px;
    padding: 4px;
}
.hebergement__div__figure__img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    min-width: 210px;
    height: 110px;
    object-fit: cover;
}
.hebergement__div__figure__figcaption{
    color: black;
    font-size: 0.8rem;
}
.hebergement__div__figure__figcaption i{
    color: #0065FC;
}
.hebergement__div__figure__figcaption__h3{
    padding: 3px;
    padding-left: 7px;
}
.hebergement__div__figure__figcaption__p{
    padding-left: 7px;
}
.etoile__hebergement{
    padding: 6px;
}
.afficherPlus{
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 30px;
    padding-top: 25px;
    padding-left: 50px;
}
span{
    font-weight: bold;
}
/*  HEBERGEMENT */
/*  LES PLUS POPULAIRES */
.pageOne__div--aside{
    flex-shrink: 1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
    width: 31%;
    min-width: 370px;
    margin-top: 33px;
    margin-left: 15px;
}
.pageOne__section__div{
    display: flex;
    padding-top: 35px;
}
.pageOne__section__div__h3{
    margin-right: 120px;
}
.pageOne__section__figure{
    display: flex;
    width: 320px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 30px;
    color: black;
    font-size: 0.8rem;
    box-shadow: 0 5px 20px rgba(0,0,0,0.20);
}
.pageOne__section__figure__img--aside{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
    height: 120px;
    width: 120px;
    padding: 4px;
}
.pageOne__section__figure__figcaption{
    padding: 12px;
}
.pageOne__section__figure__figcaption__h3--aside{
    margin-bottom: 7px;
}
.pageOne__section__figure__figcaption__p--aside{
    margin-bottom: 30px;
}
.aside__etoile{
    color: #0065FC;
}
/*  LES PLUS POPULAIRES */
/*  CONTENEUR DE "HEBERGEMENT MARSEILLE" ET DE "LES PLUS POPULAIRES" */


/* ACTIVITES A MARSEILLE  */
.pageOne__section2{
    margin-top: 70px;
    width: 100%;
}
.pageOne__section2__h2{
    margin-bottom: 25px;
}
.pageOne__section2__div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pageOne__section2__div__figure{
    margin-left: 5px;
    border-radius: 15px;
    width: 300px;
    height: 500px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.20);
}
.pageOne__section2__div__figure__img{
    height: 460px;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.pageOne__section2__div__figure__figcaption{
    padding: 7px;
}
.pageOne__section2__div__figure__figcaption__h3{
    font-size: 0.9rem;
    color: black;
}
.conteneur--activites-deux-images{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* div1 */
.pageOne__section2__div__figure__1{ 
    margin-left: 5px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.20);
    height: 290px;
}
.pageOne__section2__div__figure__img--img1{
    width: 300px;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.pageOne__section2__div__figure__2{ 
    margin-left: 5px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.20);
    height: 190px;
}
.pageOne__section2__div__figure__img--img2{
    height: 150px;
    width: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
/* div1 */

/* div2 */
.pageOne__section2__div__figure__3{
    margin-left: 5px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.20);
    height: 190px;
}
.pageOne__section2__div__figure__img--img3{
    width: 300px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.pageOne__section2__div__figure__4{
    margin-left: 5px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.20);
    height: 290px;
}
.pageOne__section2__div__figure__img--img4{
    width: 300px;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
/* div2 */
/* ACTIVITES A MARSEILLE  */

.fas.fa-star.gray{
    color: lightgray;
}

/*  FOOTER */
footer{
    margin-top: 40px;
    padding: 25px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    width: 100%;
}
.div__footer1, .div__footer2, .div__footer3{
    margin-right: 260px;
}
.div__footer1 h3, .div__footer2 h3, .div__footer3 h3{
    margin-bottom: 30px;
}
.div__footer1 p, .div__footer2 p, .div__footer3 p{
    color: black;
    margin-top: 10px;
}
.div__footer1 p a, .div__footer2 p a, .div__footer3 p a{
    color: black;
}
.bottomBlack:hover{
    border-bottom: rgb(78, 78, 78) solid 2px;
}

/* ╮(︶▽︶)╭ FOOTER */
@media screen and (max-width: 1560px){
    .pageOne__h1, .pageOne__p, .pageOne__div, .pageOne__div__filtres, .pageOne__div__logement{
        padding-right: 25px;
        padding-left: 25px;
    }
    .pageOne__div{
        border: white;
    }
    .pageOne__section2__h2{
        text-align: center;
    }
}
@media screen and (max-width: 1320px){
    .pageOne__h1, .pageOne__p, .pageOne__div, .pageOne__div__filtres, .pageOne__div__logement{
        padding-right: 25px;
        padding-left: 25px;
    }
    .pageOne__div{
        border: white;
    }
    .pageOne__div__logement{
        font-size: 0.9rem;
    }
    .headerMain{
        padding: 25px;
    }
    .hebergement__div__figure__img{
        width: 100%;
    }
    .hebergement__div__figure{
        width: 320px;
    }
    footer {
        margin-top: 40px;
        padding: 25px;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F2F2F2;
    }
    .div__footer1, .div__footer2, .div__footer3 {
        margin-right: 0px; 
        width: 230px;
        margin-bottom: 35px;
    }
    .pageOne__div__filtres--text{
        align-self: flex-start;
        margin-left: 15px;
    }
}
@media screen and (max-width: 1250px){
    .pageOne__section2__div__figure {
       margin: 10px;
    }
    .pageOne__section2__div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .pageOne__section2__div__figure__2, .pageOne__section2__div__figure__4, .pageOne__section2__div__figure__1, .pageOne__section2__div__figure__3 {
        margin: 10px;
    }
}
@media screen and (max-width: 1150px){
    .pageOne__div--button--icone{
        display: block;
    }
    .pageOne__div--button span{
        display: none;
    }
}
@media screen and (max-width: 1149px){
    .headerMain__nav__anchor--inscription{
        margin-right: 40px;
    }
    .pageOne__div--aside {
        order: 5;
        flex-shrink: 1;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F2F2F2;
        width: 100%;
        min-width: 370px;
        margin-top: 33px;
        margin-left: 15px;
        margin-left: 0;
    }
    .pageOne__section__div {
        display: flex;
        padding-top: 35px;
        margin-bottom: 30px;
    }
    .pageOne__section__figure {
        display: flex;
        width: 400px;
        background-color: #ffffff;
        border-radius: 15px;
        margin-top: 0;
        margin-bottom: 20px;
        color: black;
        font-size: 0.8rem;
        box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
    }
    .pageOne__section__conteneur {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .pageOne__section__conteneur__hebergement__h3 {
        text-align: center;
    }
    .pageOne__section__conteneur__hebergement {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 35px; 
        background-color: #F2F2F2;
        border-radius: 0;
        width: 100%;
        min-width: 370px;
    }
}
@media screen and (max-width: 900px){
    .pageOne__div__filtres__div{
        margin: 0;
    }
    .PageOne__div__filtres__div__button {
        padding-left: 55px;
        padding-right: 10px;
    }
    .conteneur--activites-deux-images {
        height: auto;
    }
    .pageOne__section2__div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .pageOne__section__conteneur__hebergement{
        width: 100%;
        background-color: white;
    }
    .pageOne__div--aside{
        width: 100%;
        border-radius: 0;
        min-height: 580px;
    }
    .pageOne__section__figure{
        width: 290px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .pageOne__section__div{
        margin-bottom: 15px;
    }
    .headerMain__nav__anchor--activites{
        border-bottom: solid #F2F2F2 3px;
        width: 200px;
    }
    .headerMain__nav__anchor--hebergement{
        border-bottom: solid #F2F2F2 3px;
        width: 200px;
    }
    .headerMain__nav__anchor--hebergement:hover{
        color: #0065FC;
        border: none;
        border-bottom: solid #0065FC 3px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .headerMain__nav__anchor--activites:hover{
        color: #0065FC;
        border: none;
        border-bottom: solid #0065FC 3px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .headerMain__nav{
        flex-wrap: wrap;
    }
    .headerMain__nav__div{
        width: 600px;
        margin-right: 400px;
        order: 5;
    }
    .headerMain__nav__anchor--inscription{
        margin-top: 45px;
    }
    .headerMain__nav__anchor{
        width: 250px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .pageOne__section2__div__figure--phone{
        width: 320px;
        margin-top: 15px;
        height: 180px;
    }
    .pageOne__section__conteneur__hebergement{
        align-items: center;
    }
    .pageOne__section2__div__figure__img--phone{
        height: 140px;
        width: 100%;
    }
    .hebergement__div__figure__img{
        width: 100%;
    }
    .pageOne__section__conteneur__hebergement__div{
        max-width: 350px;
    } 
    .hebergement__div__figure{
        width: 290px;
        margin-left: 0;
        margin-right: 0;
    }
    .pageOne__div__filtres{
        flex-direction: column;
    }
    .pageOne__div__filtres__div{
        margin-top: 10px;
        margin-right: 5px;
    }
    .PageOne__div__filtres__p{
        justify-content: flex-start;
    }
    .pageOne__section__conteneur__hebergement__h3{
        padding-left: 0;
    }
    .afficherPlus {
        padding-top: 15px;
        padding-left: 25px;
    }
}
@media screen and (max-width: 600px){
    .headerMain__nav__div{
        margin-left: 50px;
    }
    .headerMain__nav__anchor--hebergement{
        max-width: 190px;
        margin-left: 60px;
    }
}
@media screen and (max-width: 600px){
    .pageOne__div--aside{
        margin-left: 0;
    }
}

@media screen and (max-width: 420px){
    .headerMain__div{
        margin-left: 15px;
    }
    .headerMain{
        margin: 0;
        padding: 0;
    }
    .headerMain__nav__anchor--hebergement{
        max-width: 190px;
        margin-left: 100px;
        padding-left: 30px;
    }
    .headerMain__nav__anchor--activites{
        max-width: 190px;
        padding-right: 35px;
    }
    .headerMain__nav__anchor--inscription{
        margin-left: 130px;
        padding-right: 35px;
    }
    .div__footer1, .div__footer2, .div__footer3{
        margin-right: 100px;
    }
    .afficherPlus {
        align-self: flex-start;
        margin-left: 25px;
    }
    .pageOne__section2__h2 {
        margin-right: 70px;
    }
    .pageOne__section2__div a{
        width: 320px;
    }
    .pageOne__section2__div__figure__2, .pageOne__section2__div__figure__4, .pageOne__section2__div__figure__1, .pageOne__section2__div__figure__3 {
        margin-left: 0;
    }
    .pageOne__section2__div__figure{
        margin-left: 0;
        width: 300px;
        margin: auto;
    }
    .pageOne__section2__div__figure--phone {
        width: 300px;
        
        height: 180px;
        margin: 0;
        margin-bottom: 15px;
        margin-left: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .PageOne__div__filtres__div__button {
        font-size: 0.9rem;
        padding-left: 55px;
        padding-right: 10px;
    }
    
}

