@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    font-family: 'Raleway', sans-serif;
}
body{
    margin:0;
}
#bloc_page{
    width: 1600px;
    margin: auto;
}
header{
    display: flex;
    
    
    
}
header img{
    padding-top: 40px
}
header nav{
    margin-right: 200px;
    
}
header ul{
    list-style-type: none;
    display: flex;
    width: 300px;
    padding-top: 40px;
    
}
header ul li a{
    
    text-align: center;
    text-decoration: none;
    padding-right: 50px;
    color: black;
    border: solid black 2px;
}
.bouton-hebergement{
    height: 40px;
}
.bouton-hebergement:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
.bouton-activites{
}
.bouton-inscrire{
    font-weight: 900;
    color: #0065FC;
}